name: Build Test APK
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v3
      - run: ./gradlew assembleStandardDebug --stacktrace
      - uses: actions/upload-artifact@v4
        with:
          name: Yokai-Custom-Build
          path: app/build/outputs/apk/standard/debug/*.apk
